
<div class="main-bg">
  <div class="cover-gif">

  </div>
  <!--<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>-->
  <div class="col-sm-12 col-md-4 form-register">
    <form class="form" name="form" ng-submit="$ctrl.register(form)" novalidate>

      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && $ctrl.submitted,
                                          'has-error': form.name.$invalid && $ctrl.submitted }">
        <label>Name</label>

        <input type="text" name="name" class="form-control" ng-model="$ctrl.user.name"
               required/>
        <p class="help-block" ng-show="form.name.$error.required && $ctrl.submitted">
          A name is required
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.email.$valid && $ctrl.submitted,
                                          'has-error': form.email.$invalid && $ctrl.submitted }">
        <label>Email</label>

        <input type="email" name="email" class="form-control" ng-model="$ctrl.user.email"
               required
               mongoose-error/>
        <p class="help-block" ng-show="form.email.$error.email && $ctrl.submitted">
          Doesn't look like a valid email.
        </p>
        <p class="help-block" ng-show="form.email.$error.required && $ctrl.submitted">
          What's your email address?
        </p>
        <p class="help-block" ng-show="form.email.$error.mongoose">
          {{ $ctrl.errors.email }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.password.$valid && $ctrl.submitted,
                                          'has-error': form.password.$invalid && $ctrl.submitted }">
        <label>Password</label>

        <input type="password" name="password" class="form-control" ng-model="$ctrl.user.password"
               ng-minlength="3"
               required
               mongoose-error/>
        <p class="help-block"
           ng-show="(form.password.$error.minlength || form.password.$error.required) && $ctrl.submitted">
          Password must be at least 3 characters.
        </p>
        <p class="help-block" ng-show="form.password.$error.mongoose">
          {{ $ctrl.errors.password }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && $ctrl.submitted,
                                          'has-error': form.confirmPassword.$invalid && $ctrl.submitted }">
        <label>Confirm Password</label>
        <input type="password" name="confirmPassword" class="form-control" ng-model="$ctrl.user.confirmPassword"
               match="$ctrl.user.password"
               ng-minlength="3" required/>
        <p class="help-block"
           ng-show="form.confirmPassword.$error.match && $ctrl.submitted">
          Passwords must match.
        </p>
      </div>

      <div>
        <button class="btn btn-inverse btn-lg btn-register" type="submit">
          Sign up
        </button>
      </div>

    </form>
  </div>
</div>
